body
{
	background-color: LightBlue;
}
#header
{
	background-color: LightGreen;
}
#navigatie
{
	
}
ul
{
	
}
li 
{
	display: inline;
	text-align: center;
}
#maincontent
{
	
}
#secondarycontent
{
	
}
#sportcontent
{
	
}
#referralcontent
{
	
}
#contactcontent
{
	
}
#afzender
{
	background-color: white;
}